/* YourStyleSheet.css */

/* Shared styles for text container */
.description-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 2vh;
  }
  
  /* Individual styles for each pair */
  .description-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px; /* Add margin between pairs */
  }
  
  .description-image {
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  .description-title {
    position: relative;
    top: 50%;
    right: 54%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Adjust font size as needed */
    color: white; /* Adjust text color as needed */
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .description-title2 {
    position: relative;
    top: 50%;
    left: 156%;
    z-index: 5;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Adjust font size as needed */
    color: white; /* Adjust text color as needed */
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .description-pair:hover .description-title {
    opacity: 1;
  }

  .description-pair:hover .description-title2 {
    opacity: 1;
  }
  
  .description-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .description-text {
    flex: 1;
    background-color: rgba(223, 230, 231, 0.75);
    font-size: 20px;
    text-align: justify;
    padding: 10px; /* Adjust padding as needed */
  }
  
  .description-title {
    text-align: center;
    margin-bottom: 10px; /* Add margin between title and text */
  }

    
    .description-pair:hover .additional-text {
        opacity: 1;
    }
    
  /* Add this style to ensure consistent font-family */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .description-pair {
      flex-direction: column; /* Stack pairs on smaller screens */
    }
    
    .description-image,
    .description-text {
      width: 100%; /* Full width for both image and text on smaller screens */
    }
  
    .description-pair {
      margin-bottom: 20px; /* Add margin between pairs on smaller screens */
    }
  }
  