.page {
    font-family: 'Arial, sans-serif';
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background: #3498db;
    color: #fff;
  }
  
  .logo {
    width: 50px;
    height: 50px;
  }
  
  .headerText {
    font-size: 1.5rem;
  }
  
  .mainSection {
    padding: 1vh;
  }
  
  .diagonalTextContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: -20px;
    height: 100%;
    overflow: hidden;
  }
  
  .diagonalText1 {
    font-size: 25px;
    padding: 10px;
    margin: 15px;
    margin-top: 250px;
    align-items: center;
  }
  
  .diagonalText2 {
    padding: 10px;
    align-items: center;
    font-size: 25px;
  }
  
  

  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 2vh;
  }
  
  .cardRow {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 7vh;
    justify-content: center;
    padding: 2vh;
  }

  
  
  
@media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  
    .diagonalTextContainer {
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  
    .diagonalText1 {
      margin-top: 0; /* Adjusted margin for smaller screens */
    }
  
    .mainSection {
      padding: 1rem;
    }
  
    .cardRow {
      grid-template-columns: repeat(2, 1fr); /* Adjusted grid for two columns on smaller screens */
      gap: 2vh;
    }
  
    .card {
      width: 100%; /* Adjusted width for full width on smaller screens */
      height: 100%; /* Adjusted height for full height on smaller screens */
    }
  
    .title {
      margin-bottom: 10px; /* Adjusted margin for smaller screens */
      padding-top: 1vh; /* Adjusted padding for smaller screens */
    }
  }