/* src/styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  header {
    background-color: white; /* Blue background */
    color: #162adb;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  /* src/styles.css */
  .description, form {
    height: 1000px;
  }
  
  .description {
    background: url('https://www.exterminateur-nuisibles.com/img/conseils-desinsectisation.jpg'); /* Replace with your image */
    background-size: 100% 100%;
    padding: 2rem;
    position: relative;
  }
  
  .description-content {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .description-text-box {
    background-color: #0a0d2e79; /* Blue box */
    padding: 2rem;
    border-radius: 10px;
    color: #fff; /* White text */
    max-width: 600px;
    text-align: start;
  }

  form {
    background-color: #ecf0f1; /* Light grey background */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem;
  }
  
  
  .tabs {
    background-color: #162adb; /* Blue background */
    color: white;
    text-align: start;
    height: 70px;
  }
  
  .tab {
    background-color: #2980b9; /* Darker blue background */
    color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem;
    display: inline-block;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #2980b9; /* Blue background */
    color: white;
  }
  